*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 20% 35%;
    background-color: #f0f2f5;
    color: #333;
}
h2{
    text-align: center;
    margin-bottom: 40px;
}
form{
    max-width: 600px;
    margin: 0 auto;
    background-color: white;
}
